<h1>Conversations</h1>

<div class='well'>
<h2>Inbox</h2>
<ul>
  <%= render mailbox.inbox %>
</ul>
</div>
<h2>Sentbox</h2>
<ul>
  <%= render mailbox.sentbox %>
</ul>
<h2>Trash</h2>
<ul>
  <%= render mailbox.trash %>
</ul>
<%= link_to 'Start Conversation', :new_conversation %>
