
<hr>

<div class="container marketing">
  <div class="row featurette">

	<h1 align="center">What is foundrie?</h1>
	</br>
		<div class="span5 offset1">
			<div class="videoWrapper">
				   <iframe width="640" height="480" src="//www.youtube.com/embed/xdjvIgAiskA" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
		<div class="span5">
			<p class="lead"> At foundrie, we provide an accessible alternative to off-the-shelf and from-the-highstreet. 
			</p>
			<p class="lead">
			We believe that a cabinet, armchair or engagement ring crafted for you by a skilled maker will not only meet your needs better, but also carry more value and last longer. 
			</p>
			<p class="lead">
			Let foundrie connect you with the right maker for your project.
			<p>
		</div>

	</div>
</div>
<hr>
  <div class="container marketing">
      <div class="row">
      	<h1 align="center">How does it work?</h1>
      </br>
        <div class="span4">
          <!--<img class="img-circle" src="http://s12.postimg.org/wlv18zkux/calendar.jpg" data-src="holder.js/140x140" alt="Calendar">-->
          <h1>1</h1><h3>Start your project</h3>
          <p>Simply upload a photo, drawing or description of exactly what you are looking for.</p>
        </div>
        <div class="span4">
          <!--<img class="img-circle" src="http://s12.postimg.org/wlv18zkux/calendar.jpg" data-src="holder.js/140x140" alt="Calendar">-->
          <h1>2</h1><h3>Choose a maker</h3>
          <p>Use our maker bids, profiles and reviews to find the right one for your style and project.</p>
        </div>
        <div class="span4">
          <!--<img class="img-circle" src="http://s12.postimg.org/wlv18zkux/calendar.jpg" data-src="holder.js/140x140" alt="Calendar">-->
          <h1>3</h1><h3>Get what you want</h3>
          <p>Your project is completed to your brief. Collaborate as much or as little as you want.</p>
        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->

<hr>
  <div class="container marketing">
      <div class="row">
      	<h1 align="center">What can I have made?</h1>
      </br>
      	<div class="span6 offset3">
      	<p align="center"> In order to ensure you have a broad range of makers to choose from, foundrie specialises in furniture, jewellery, art and frames. We'll soon be adding more makers based on requests. Please <%= mail_to("suyin@foundrie.co.uk", "email us your requests", subject: "New maker type please!")%>.
      	</p>
      </div>
    </div>
    <div class="row">
    	</br>
        <div class="span3">
          <img class="img-circle" src="http://s10.postimg.org/4a2wu4omd/299745_coffeetable.jpg" data-src="holder.js/140x140" alt="Coffee table">
        </div>
        <div class="span3">
          <img class="img-circle" src="http://s23.postimg.org/dlpbzevsn/Ro_Ro_rocking_chair_from_Rockett_Gallery.jpg" data-src="holder.js/140x140" alt="Rocking Chair">
        </div>
        <div class="span3">
          <img class="img-circle" src="http://s23.postimg.org/arr8j2zxz/Gallery_Best_stud_earring_004.jpg" data-src="holder.js/140x140" alt="Earrings">
        </div>
        <div class="span3">
          <img class="img-circle" src="http://s22.postimg.org/oleo5qa6l/jasailmer_wood_photo_frame_6x41511.jpg" data-src="holder.js/140x140" alt="Frame">
        </div>
      </div><!-- /.row -->
<hr>

    </div><!-- /.container -->




