/*colour palette is http://www.colourlovers.com/palette/793931/Nightly_Cares*/

$baseFontFamily: Oxygen;
@import url(http://fonts.googleapis.com/css?family=Oxygen);

$navbarInverseBackground: #333333;
$navbarInverseBrandColor: #9EB9C3;
$navbarInverseLinkColor: #FFFFFF;
$navbarInverseLinkColorHover: #BBDCE8;
$btnPrimaryBackground: #9EB9C3;
$textColor: #333333;
$bodyBackground: #FFFFFF;


@import 'bootstrap';

@import 'bootstrap-responsive';

	.hero-unit {
		color: #FFFFFF;
		background-color: #BBDCE8;
		/*background-image: url(http://cdn.morguefile.com/imageData/public/files/p/photojock/preview/fldr_2008_11_10/file000990987093.jpg);*/
	}

	.footer {
		margin-top:50px;
		color: $grayLight;
		a {
			color: $gray;
		}
	}

	/* Required for jQuery Masonry */

	.box {
		margin: 5px;
		padding: 5px;
		font-size: 11px;
		line-height: 1.4em;
		float: left;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		box-shadow: 1px 1px 10px #444;
		width: 214px;
	
		img {
			display: block;
			width: 100%;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
		}
	}

	.description {
		margin: 10px 0 5px;
	}

	.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 30px;
	height: 0;
	margin: auto;
	
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	}

	.dropdown-backdrop {
    position: static;
	}
